<form class="max-w-sm mx-auto" method="post" action="/contacts">
  <div class="mb-5">
    <!-- Name -->
    <label
      for="ct_name"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Name</label
    >
    <input
      type="ct_name"
      id="ct_name"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      name="ct_name"
      required
    />
  </div>

  <!-- Phone Number -->
  <div class="mb-5">
    <label
      for="ct_phonenum"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Phone Number</label
    >
    <input
      type="ct_phonenum"
      id="ct_phonenum"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      name="ct_phonenum"
      required
    />
  </div>

  <!-- Email -->
  <div class="mb-5">
    <label
      for="ct_email"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Email</label
    >
    <input
      type="ct_email"
      id="ct_email"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      name=""
      ct_email
      required
    />
  </div>

  <!-- Address -->
  <div>
    <label
      for="message"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Address</label
    >
    <textarea
      id="ct_address"
      rows="4"
      class="mb-2 block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      name="ct_address"
    ></textarea>
  </div>

  <!-- Submit Button -->
  <button
    type="submit"
    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
  >
    Submit
  </button>
</form>
